##################
# PARSE SETTINGS #
##################

APP_ID=myAppId
MASTER_KEY=myMasterKey

# SERVER_URL=
# MOUNT=
# SERVER_DATABASE_URI=
# SERVER_CLOUD_CODE_MAIN=
# SERVER_COLLECTION_PREFIX=
# SERVER_FILE_KEY=
# SERVER_FACEBOOK_APP_IDS=
# SERVER_URL=
