option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ParkingManagment"
    MASTER_KEY: "shayandsefiworking"
    DATABASE_URI: "mongodb://localhost:27017/dev"
    NODE_ENV: "production"
    SERVER_URL: "http://localhost:1337/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
