option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "parkingmanagment"
    MASTER_KEY: "sefiandshay"
    DATABASE_URI: "mongodb://localhost:27017/dev"
    NODE_ENV: "production"
    SERVER_URL: "https://pm-parse-server.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
