name: Node.js
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    name: ${{ matrix.name }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependancies
      run: npm install
    - name: Check Linting
      run: npm run lint
    - name: Run Tests
      run: npm run test